@import 'font-face';
@import 'layout_new';
@import 'slick';

@import "main/coursesBlock";
@import "main/factsBlock";
@import "main/interactiveBlock";
@import "main/collaborationBlock";
@import "main/feedbacksBlock";
@import "main/sliderBlock";

.thin-container {
  width: 100%;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}

.hide-container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  line-height: 107%;
}

h2 {
  font: 600 50px/107% "Proxima Nova Sb", sans-serif;
  @media (max-width: 1440px) {
    font-size: 45px;
  }
  @media (max-width: 767px) {
    font-size: 34px;
  }
}

.btn {
  height: 70px;
  border-radius: 100px;
  transition: background 0.4s;
  padding: 0 40px;

  svg {
    path {
      fill: white;
    }
  }
}

p {
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.02em;

  @media (max-width: 1440px) {
    font-size: 25px;
  }
  @media (max-width: 767px) {
    font-size: 19px;
  }
}

.cards-container {
  display: flex;
  grid-column-gap: 30px;
}

.black-btn {
  background: #000000;
  color: white;

  &:hover {
    background: #ff0000;
  }
}

.footer__address {
  p {
    font-size: 19px;
    line-height: 130%;
  }

  @media (max-width: 767px) {
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 1440px) {
  .thin-container {
    max-width: 728px;
  }
  .hide-container {
    max-width: 870px;
  }
}

@media (max-width: 910px) {
  .thin-container, .hide-container {
    padding: 0 15px;
  }
}

@media (max-width: 850px) {
  .cards-container {
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: center;

    &__card {
      width: 100% !important;
    }
  }
}

@media (max-width: 767px) {
  header {
    padding-top: 12px;
  }
  .header__logo {
    svg {
      height: 35px;
      width: 46px;
    }
  }
  h1 {
    font-size: 45px;
  }
  .thin-container {
    max-width: 400px;
  }
  .hide-container {
    max-width: 400px;
  }
  .btn {
    height: 60px;
  }
}